<div class="rc-select">
  <div class="rc-select-display"
       ng-click="vm.currentState.selectedClicked()">
    <div class="rc-select-display-selection"
      ng-class="{
       'rc-select-display-selection-focused': vm.currentState.focused,
       'rc-select-display-selection-up': optionsUp && vm.currentState.showDropdown
      }"
      ng-bind="vm.textFn(vm.selected)"></div>
    <div class="rc-select-display-arrow">
      <svg width="10" height="10" viewbox="0 0 100 100">
        <path d="M100 0 50 80 0 0Z" fill="black"/>
      </svg>
    </div>
  </div>
  <div class="rc-select-options"
       ng-show="vm.currentState.showDropdown"
       ng-class="{
         'rc-select-options-up': optionsUp
       }">
    <div class="rc-select-option"
         ng-repeat="option in vm.options"
         ng-click="vm.currentState.optionClicked(option)"
         ng-class="{
           'rc-select-option-selected': vm.selected === option
         }"
         ng-include src="vm.template"></div>
  </div>
  <input class="rc-select-hidden-input"
         ng-attr-id="{{id}}"
         ng-focus="vm.currentState.focus()"
         ng-blur="blurIfInputWasntClicked($event)"
         ng-keydown="vm.keyDown($event.keyCode)"/>
</div>
