body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

@gutter: 5px;

.rc-header {
  padding: @gutter;

  background-color: black;
  color: white;
}

.rc-page {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: @gutter;

  background-color: grey;
}

.rc-container {
  padding: @gutter;
  margin: @gutter;
  width: 100%;

  background-color: darkgray;
}
