* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

@gutter: 10px;

.verticalPadding {
  padding-top: @gutter;
  padding-bottom: @gutter;
}

.horizontalPadding {
  padding-left: @gutter;
  padding-right: @gutter;
}

.headerElementBorder(@color) {
  border-bottom: 2px solid @color;
}

.rc-header {
  padding: @gutter;

  background-color: black;
  color: white;
}

.rc-page {
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: @gutter;

  background-color: grey;

  &-vertical {
    flex-direction: column;
  }
}

.rc-panel {
  margin: @gutter;
  display: flex;
  flex-direction: column;

  background-color: darkgray;

  &-header {
    border-bottom: 1px solid grey;
    .horizontalPadding;

    > * {
      display: inline-block;
      .verticalPadding;
      .headerElementBorder(transparent);
    }

    &-tab {
      cursor: pointer;

      & + & {
        margin-left: @gutter;
      }

      &-selected {
        color: white;
        .headerElementBorder(blue);
      }
    }
  }

  &-body {
    overflow: scroll;
  }
}

.rc-content {
  &:not(&-no-border) + & {
    border-top: 1px solid grey;
  }

  .verticalPadding;
  .horizontalPadding;
}
