<div class="rc-header">
  <span class="rc-header-left">
    <span class="rc-header-logo">RayCare</span>
    <span class="rc-header-tabs">
      <span ui-sref="home" ui-sref-active="rc-header-tabs-selected">
        <span class="fa fa-fw fa-th-large"></span>
        Today
      </span>
      <span ui-sref="booking" ui-sref-active="rc-header-tabs-selected">
        <span class="fa fa-fw fa-calendar"></span>
        Booking
      </span>
      <span ui-sref="treatment" ui-sref-active="rc-header-tabs-selected">
        <span class="fa fa-fw fa-hospital-o"></span>
        Treatment
      </span>
      <span ui-sref="patients" ui-sref-active="rc-header-tabs-selected">
        <span class="fa fa-fw fa-user"></span>
        Patients
      </span>
    </span>
  </span>
  <span class="rc-header-menu column">
    <span class="row gutter-horizontal">
      <span class="rc-header-menu-patient column">
        <span class="font-smaller">Current patient</span>
        <span class="primary" ng-bind="patient.name"></span>
      </span>
      <span class="img-wrapper">
        <img ng-src="{{patient.imgUrl}}"/>
      </span>
    </span>
    <span class="column">
      <span class="gutter-horizontal">Tasks</span>
      <span ng-repeat="task in tasks" class="list-item font-smaller gutter-horizontal" ng-click="click(task)">
        <span ng-bind="task.title"></span>
        <span class="highlight" ng-bind="task.patient"></span>
      </span>
    </span>
  </span>
</div>
