@import '../variables';

@leftColumnWidth: 340px;

.headerElementBorder(@color) {
  border-bottom: 2px solid @color;
}

.horizontalPadding(@size) {
  padding-left: @size;
  padding-right: @size;
}

.verticalPadding(@size) {
  padding-top: @size;
  padding-bottom: @size;
}

.rc-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rc-page {
  height: 100%;
  display: flex;
  justify-content: space-around;
  .horizontalPadding(@gutter);
  .verticalPadding(@gutter);
  background-color: @col_grey_dark;

  &-vertical {
    flex-direction: column;
  }

  &-left > *:first-child {
    width: @leftColumnWidth;
    flex: initial;
  }

  &-centered > *:first-child {
    width: 50%;
    flex: initial;
  }
}

.rc-panel {
  margin: @gutter;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  background-color: @col_grey_mid;

  &-header {
    border-bottom: 1px solid #323232;
    .horizontalPadding(@gutter-lg);
    height: 52px;
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    > * {
      .headerElementBorder(transparent);
    }

    &-tabs {
      &-tab {
        text-transform: uppercase;
        cursor: pointer;
        white-space: nowrap;
        border-bottom: 2px solid transparent;
        transition: border .4s;

        & + & {
          margin-left: @gutter;
        }

        &-selected {
          cursor: default;
          color: @col_white;
          .headerElementBorder(@col_primary);
        }
      }
    }

    &-content {}
  }

  &-body {
    overflow: auto;
    .horizontalPadding(@gutter-lg);
  }
}

.rc-content {
  .verticalPadding(@gutter);
  font-size: 16px;

  & + & {
    border-top: @content_border;
  }
}
